header {
    background-color: #171a21;
    height: 100px;
    width: 100%;
}

img {
    width: 250px;
    height: 120px;
}

.headerList {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
}

.headerLink {
    color: white;
    text-decoration: none;
    font-size: 26px;
    padding: 5px;
    transition: all 50ms
}

.headerLink:hover {
    font-weight: 600;
    border-bottom: 3px solid white;
}

li {
    margin-right: 40px;
}

